body {
  position: relative;
  min-height: 1000px; // This fixes a bug when no events are present
  // could maybe remove when we have an empty state card
  @include font-family($font-weight-body);
  background-color: $gray-70;
  color: $white;
  overflow-y: scroll;

  &.filters-open { min-height: 100%; }
}

.main {
  position: relative;
  box-sizing: border-box;
  padding: ($padding * 4) 0;
  max-height: 100%;

  .filters-open & {
    height: 0;
    padding: 0;
    overflow: hidden;

    @media (min-width: $break-large) {
      padding: ($padding * 4) ($padding * 4) ($padding * 4) ($padding * 4 + $sidebar-width);
    }
  }

  @media (min-width: $break-large) {
    padding-left: ($padding * 4 + $sidebar-width);
    padding-right: $padding * 4;

    .filters-open & {
      height: auto;
      overflow: visible;
    }
  }

  @media (min-width: $break-extra-large) {
    padding-left: calc((#{$padding} *  4) + 25%);
  }
}

.hidden {
  display: none;
}

.copyright-section {
  font-style: italic;
  font-size: .75em;
  margin-bottom: 2em;
  text-align: center;
  color: $gray-20;

  @media (min-width: $break-large) {
    text-align: right;
    padding-right: $padding * 6;

    .full-width & , &.full-width { text-align: center; }
  }
}

.inline-link {
  transition: all .2s ease-out;

  &:link, &:visited {
    color: $gray-70;
    border-bottom: 2px solid $highlight;
  }

  &:hover, &:active {
    color: $gray-30;
    border-bottom: 2px solid $gray-30;
  }
}

.capitalize {
  text-transform: capitalize;
}
