body {
  position: relative;
  @include font-family($font-weight-body);
  background-color: $gray-70;
  color: $white;
  overflow-y: scroll;
}

.page-wrapper {
  position: relative;
  max-width: $page-wrapper-width;
  margin: 0 auto;
}

.main {
  box-sizing: border-box;
  padding-top: 110px;
  max-height: 100%;

  .js & { padding-top: 280px; }

  @media(min-width: $break-large) {
    padding-top: 0;
    margin-left: $sidebar-width;

    .js & { padding-top: 0; }
  }
}

// Icons
.icon-dark {
  fill: $gray-50;
}
.icon-light {
  fill: $highlight;
}
.icon-stroke {
  stroke: $gray-50;
}

.icon-white {
  fill: $white;
}

.svg-icon {
  height: 1em;
}
