body {
  @include font-family($font-weight-body);
  background-color: $gray-70;
  color: $white;
}

.page-wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  margin-top: 140px;

  @media(min-width: $break-large) {
    margin-top: 0;
    margin-left: $sidebar-width;
  }
}

// Icons
.icon-dark {
  fill: $gray-50;
}
.icon-light {
  fill: $highlight;
}
.icon-stroke {
  stroke: $gray-50;
}

.icon-white {
  fill: $white;
}

.svg-icon {
  height: 1em;
}
