body {
  position: relative;
  min-height: 1000px; // This fixes a bug when no events are present
  // could maybe remove when we have an empty state card
  @include font-family($font-weight-body);
  background-color: $gray-70;
  color: $white;
  overflow-y: scroll;
}

.page-wrapper {
  position: relative;
  max-width: $page-wrapper-width;
  margin: 0 auto;
}

.main {
  position: relative;
  box-sizing: border-box;
  padding-top: $padding * 4;
  max-height: 100%;

  @media(min-width: $break-large) {
    margin-left: $sidebar-width;
  }
}

.hidden {
  display: none;
}

// Icons
.icon-dark {
  fill: $gray-50;
}
.icon-light {
  fill: $highlight;
}
.icon-stroke {
  stroke: $gray-50;
}

.icon-white {
  fill: $white;
}

.svg-icon {
  height: 1em;
}
