// Colors

$white: #ffffff; //white
$gray-20: #cccccc; //grey 20%
$gray-30: #9B9B9B; //grey 30%
$gray-50: #4A4A4A; //grey 50%
$gray-70: #292929; //grey 70%
$black: #000000; //black
$highlight: #F0DF1C;
$highlight-dim: rgba(#F0DF1C, 0.2);
$highlight-bright: #F9ED00;
