$divider: 2px solid rgba(155, 155, 155, .3);

$padding: .5em;
$margin: .5em;
$card-margin: 2em;

$font-family: "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
$font-body-weight: 300px;
$font-head-weight: 500px;
