.about-page {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;

  .about-header {
    margin: 2em;
    .about-logo {
      width: 33.33%;
      min-width: 18em;
    }

  }


  .about-content {
    text-align: left;
    background-color: $white;
    color: $gray-70;
    padding: 2.5em;
    margin: 2em auto;
    line-height: 1.5em;
    max-width: 54.88em;
    box-sizing: border-box;

    h1, h2, p {
      margin-bottom: 1.5em;
    }

    h2, h3{
      color: $gray-50;
    }

    h3 {
      margin-bottom: 1em;
    }

    h1 {
      font-size: 2.5em;
      line-height: 1em;
      border-bottom: $divider;
      padding-bottom: .5em;
    }
  }

}
