.event-card {
  background-color: $light;
  min-height: 20em;
  margin: $card-margin;
  padding: $padding;

  .left {
    min-height: calc(20em - (2 * #{$padding}));
    width: 35%;
    border-right: $divider;
  }

  .event-title {
    color: $mid-gray;
    margin: $margin;
    padding: 0;
    font-size: 2.5em;
    font-weight: $font-weight-head;

  }

}
