.event-card {
  background-color: $white;
  color: $gray-50;
  margin: $card-margin;
  padding: $card-padding;
  box-sizing: border-box;
  min-height: 15em;
  overflow: auto;

  @media (min-width:$break-large) {
    width: calc(100% - 30em);
    float: right;
  }
}

.card-front, .card-back {




  .card-button {
    margin-right: $margin;
  }

  .card-image {
  margin: auto auto;
  width: 90%;
  }

  .left, .right {
    min-height: calc(15em + (2 * #{$padding}));
    padding: $card-padding;
    box-sizing: border-box;
  }

  .left {
    width: 35%;
    float: left;
    clear: left;
    border-right: $divider;
  }

  .right {
    width: 60%;
    float: right;
    clear: right;
  }

  .event-title {
    font-weight: $font-weight-head;
    color: $gray-50;
    padding: 0;
    font-size: 2em;

  }

  .card-left-info {
    li {
    padding-top: 1em;
    }
  }

  .icon-container {
    width: 1.5em;
    min-height: 100%;
    float: left;

  }

  .time-info {
    display: inline-block;
    width: calc(100% - 1.5em);
  }

  .subhead {
    color: $gray-30;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: $font-weight-body;
    margin-top: $margin;
  }

  .info-subhead {
    width: calc(100% - 1.9em);
    float: right;
    padding-left: 1.9em;
    margin: 0;
      li {
        padding: 0;
      }
  }
  .card-sharable-links {
      margin-top: 2em;
      box-sizing: border-box;
      padding: 0;
      width: 90%;
      display: inline-block;
      border-bottom: 2px solid $highlight;


    .sharable-link{

      input[type=text] {
        border-style: none;
        font: inherit;
        color: inherit;
        box-sizing: border-box;
        overflow: hidden;
        padding-top: .7em;
        white-space: nowrap;
        width: calc(100% - 13em);
        outline: none;
        margin: 0;
        &:focus {
          font-weight: $font-weight-select;
        }
      }

      .copy-button {
        float: right;
        margin: 0;
        width: 16em;
      }
    }
  }

  .card-report {
    color: $gray-30;
    font-size: .8em;
    margin-top: 2em;

    .report-link {
      border-bottom: 1px solid $gray-30;
      color: $gray-30;

      &:hover, &:active {
        border-bottom: 1px solid $gray-70;
        color: $gray-70;
        font-weight: $font-weight-head;
      }
    }
  }

}

.card-front {
  .right {
    ul {
      list-style-type: disc;
      list-style-position: inside;
      columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;
      margin-top: $margin;
    }
  }
}

.card-back {
  .right {
    ul {
      margin: 0;
      li {
        margin-top: 1em;
        display: inline-block;
      }
    }
  }
}
