.event-filters__toggle-button {
  display: block;
  margin: 0 0 ($margin * 4);
  padding: ($padding * 3) 0;
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: $divider-dark;
  font-weight: $font-weight-body;
  font-size: 0.75em;
  text-transform: uppercase;
  color: $highlight;
  cursor: pointer;

  @media (min-width: $break-large) {
    display: none;
    visibility: hidden;
  }
}

.event-filters__heading {
  margin-bottom: $margin * 4;
  text-align: center;
}

.event-filters__group {
  position: relative;
  margin: 0 ($margin * 4) ($margin * 4);
  border: 0;

  &:last-of-type { margin-bottom: 0;}

  @media (min-width: $break-large) {
    margin: 0 0 ($margin * 4);
  }
}

.event-filters__group-heading {
  font-size: 1em;
  font-weight: $font-weight-select;
  text-transform: uppercase;
  margin-bottom: .75em;
  color: $light;
}

.event-filters__checkbox {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  height: 56px;
  font-weight: $font-weight-body;
  color: $off-white;
}
