.single-card {
  margin-top: $card-margin;
}

.event-card {
  background-color: $white;
  color: $gray-50;
  margin: 0 $card-margin $card-margin;
  padding: $card-padding;
  box-sizing: border-box;
  min-height: 20em;
  overflow: auto;
  line-height: 1.5em;
}

.card-front {

  .card-button {
    margin-right: $margin;
  }

  .card-image-container {
    width: 90%;
    margin: 2em auto;
    text-align: center;

  }

  .card-image {
    max-height: 12em;
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .left, .right {
    min-height: 100%;
    padding: 2em;
    box-sizing: border-box;
    width: calc(100% - 2em);
    overflow-y: auto;
    overflow-x: auto;
    margin: auto;

  }

  .left {
  }

  .right {
    border-top: $divider;
    margin: 1em 1em;
  }

  @media (min-width: 62.19em) {
    .left {
      width: 50%;
      float: left;
      clear: left;
    }

    .right {
      width: 50%;
      float: right;
      clear: right;
      border-left: $divider;
      border-top: none;
      margin: 1em 0;


    }

  }

  @media (min-width: 70.88em) {
    .left {
      width: 40%;
    }

    .right {
      width: 60%;
    }

  }


  .event-title {
    font-weight: $font-weight-head;
    color: $gray-50;
    padding: 0;
    font-size: 2em;
    line-height: 1em;
  }

  .card-left-info {
    li {
    padding-top: 1em;
    }
  }

  .icon-container {
    width: 1.5em;
    min-height: 100%;
    float: left;

  }

  .time-info {
    display: inline-block;
    width: calc(100% - 1.5em);
  }

  .subhead {
    color: $gray-30;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: $font-weight-body;
    margin-top: $margin;
  }

  .info-subhead {
    width: calc(100% - 1.9em);
    padding-left: 1.9em;
    margin: 0;
      li {
        padding: 0;
      }
  }
  .card-shareable-links {
      margin-top: 2em;
      box-sizing: border-box;
      padding: 0;
      width: 90%;
      display: inline-block;
      border-bottom: none;
      @media (min-width: 70.88em){
        border-bottom: 2px solid $highlight;
      }

    .shareable-link{


      input[type=text] {
        border-style: none;
        font: inherit;
        color: inherit;
        box-sizing: border-box;
        overflow: hidden;
        padding-top: .7em;
        white-space: nowrap;
        width: 100%;
        outline: none;
        margin: 0;
        border-bottom: 2px solid $highlight;
        text-overflow: ellipsis;
        &:focus {
          font-weight: $font-weight-select;


        }

        @media (min-width: 70.88em){
          border-bottom: none;
          width: calc(100% - 13em);
        }

      }

      .copy-button {
        @include font-family($font-weight-body);
        text-align: center;
        margin-top: 1em;
        max-width: 16em;
        cursor: pointer;

        @media (min-width: 70.88em) {
          position: relative;
          float: right;
          margin: 0;
        }
      }
    }
  }

  .card-report {
    color: $gray-30;
    font-size: .8em;
    margin-top: 2em;

    .report-link {
      border-bottom: 1px solid $gray-30;
      color: $gray-30;

      &:hover, &:active {
        border-bottom: 1px solid $gray-70;
        color: $gray-70;
        font-weight: $font-weight-head;
      }
    }
  }
}

.card-front {
  .right {
    ul {
      margin-top: 1em;
      li {
        display: inline;
        margin-right: .5em;
        white-space: nowrap;
      }
    //   columns: 2;
    //
    //   @media (min-width: 71.63em) {
    //     columns: 3;
    // }
    }
  }
}

.card-back {
  .right {
    ul {
      margin: 0;
      li {
        margin-top: 1em;
        display: inline-block;
      }
    }
  }
}
