.submit-form-container {
    max-width: 25em;
    margin: 2em auto;
    background-color: $white;
    padding: 3em;
    color: $gray-50;


    .submission-form {
      padding-top: 1em;
      text-align: left;
      & label {
        padding-top: 1em;
        padding-bottom: 1em;
      }

      textarea {
        width: 18em;
        height: 5em;
      }

      [type='text'], [type='url'], [type='email'] {
        width: 18em;
        padding: .5em;
        font-size: 1em;
      }

    }

    .button {
      display: block;
      margin: 2em auto;

    }


}


[type='checkbox'].checkbox {
  opacity: 0;
  float: left;

  + label {
    position: absolute;
    left: 0;
    padding: 0 0 0 28px;
    line-height: 1.5em;
    cursor: pointer;
  }

  + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid $highlight;
    transition: background .1s ease-out;
  }

  &:hover, &:focus {
    + label:before {
      background: $highlight-dim;
    }
  }

  &:checked + label:before {
    background: $highlight;
  }

}

.button {
  text-decoration: none;
  text-transform: uppercase;
  padding: .75em;
  transition: all .25s ease;
  box-sizing: border-box;
  color: $button-color;
  background-color: $highlight;
  border: 2px solid $highlight;
  font-size: .8em;
  margin: .5em;

  &:hover {
    border: 2px solid $gray-50;
  }

  &:active {
    background-color: $white;
  }
}

input[type="text"] {

}

input[type="submit"] {
  cursor: pointer;
}

.submission-form {
  input[type="text"],
  input[type="submit"],
  label {
    display: block;
  }
}
