.site-header {
  border-bottom: $divider-dark;

  .js & { border: 0; }
}

.site-city {
  margin: 0;
  padding: 0 0 ($padding * 3);
  border-bottom: $divider-dark;
  font-size: 0.75em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: $white;

  .compact & {
    margin: 0;
    padding: 0 0 ($padding * 3);
    border-bottom: $divider-dark;
    font-size: 0.75em;
  }

  @media (min-width: $break-large) {
    margin: $margin 0;
    padding: 0;
    border: 0;
    font-size: 1.25em;
  }
}

.site-about {
  margin: 0 ($margin * 4) 0;
  padding: ($padding * 2) 0;
  color: $gray-20;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;

  .js & { border-bottom: $divider; }

  .compact & {
    padding: ($padding * 2) 0;
    border-top: 0;
  }

  @media (min-width: $break-large) {
    padding: ($padding * 4) 0;
    border-top: $divider;
  }

}

.site-about__text {
  margin-bottom: $margin * 2;

  @media (min-width: $break-large) {
    margin-bottom: $margin * 4;
  }
}

.site-about__link {
  display: inline-block;
  width: 40%;
  color: $highlight;
  font-size: .75em;
  font-weight: 300;
  text-decoration: underline;
  text-transform: uppercase;
}
