.site-header {
  border-bottom: $divider-dark;

  @media (min-width: $break-large) {
    border: 0;
  }

  .js & {
    border: 0;
  }
}

.site-city {
  margin: 0;
  padding: 0 0 ($padding * 3);
  border-bottom: $divider-dark;
  font-size: 0.75em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: $white;

  .compact & {
    margin: 0;
    padding: 0 0 ($padding * 3);
    border-bottom: $divider-dark;
    font-size: 0.75em;
  }

  @media (min-width: $break-large) {
    margin: $margin 0;
    padding: 0;
    border: 0;
    font-size: 1.25em;
  }
}

.site-about {
  margin: 0 ($margin * 4) 0;
  padding: $padding 0;
  color: $gray-20;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;

  .js & { border-bottom: $divider; }

  .compact & {
    padding: ($padding * 2) 0;
    border-top: 0;
  }

  @media (min-width: $break-large) {
    padding: ($padding * 4) 0;
    border-top: $divider;
  }

}

.site-about__text {
  margin-bottom: $margin;

  @media (min-width: $break-large) {
    margin-bottom: $margin * 4;
  }
}

.site-about__link {
  display: inline-block;
  max-width: 40%;
  color: $highlight;
  font-size: .85em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid $highlight;
  transition: all .25s ease;
  box-sizing: border-box;

  &:hover, &:active {
    color: $white;
    border-bottom: 3px double $white;

  }

  &:first-of-type {
    margin-right: 6em;
  }
}
