.site-header {
  margin-top: 1.5em;
  border-bottom: $side-bar-divider;
  transition: transform .3s ease-out;

  .js & { border: 0; }

  .filters-open & {
    margin-top: 0;
    height: 0;
    opacity: 0;
    transform: translateY(-100%);

    @media (min-width: $break-large) {
      margin-top: 2em;
      height: auto;
      opacity: 1;
      transform: none;
    }
  }

  @media (min-width: $break-large) {
    margin-top: 2em;
    border: 0;
  }

}

.site-city {
  margin: 0;
  padding: 0 0 ($padding * 3);
  border-bottom: $side-bar-divider;
  font-size: 0.75em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: $site-city-color;

  .compact & {
    margin: 0;
    padding: 0 0 ($padding * 3);
    border-bottom: $side-bar-divider;
    font-size: 0.75em;
  }

  @media (min-width: $break-large) {
    margin: $margin 0;
    padding: 0;
    border: 0;
    font-size: 1.25em;
  }
}

.site-about {
  margin: 0 ($margin * 4) 0;
  padding: ($padding * 2) 0;
  color: $site-about-color;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;

  .js & { border-bottom: $divider; }

  .compact & {
    border-top: 0;

    @media (min-width: $break-large) {
      padding: ($padding * 4) 0;
    }
  }

  @media (min-width: $break-large) {
    padding: ($padding * 4) 0;
    border-top: $divider;
  }

}

.site-about__text {
  margin-bottom: $margin;

  @media (min-width: $break-large) {
    margin-bottom: $margin * 4;
  }
}

.site-about__link {
  display: inline-block;
  max-width: 40%;
  color: $highlight;
  font-size: .85em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid $highlight;
  transition: all .25s ease;
  box-sizing: border-box;

  &:hover, &:active {
    color: $white;
    border-bottom: 1px solid $white;

  }

  &:first-of-type {
    margin-right: 6em;
  }
}
