.site-logo {
  font-size: 1em;
  text-align: center;

  .lamp-post-logo {
    width: 336px;
    height: 46px;
    transition: height .4s ease-out;

    g {
      transition: transform .4s ease-out;
    }

    .logo-path {
      fill: $highlight;
    }

    .logo-line {
      stroke: $highlight;
      stroke-width: 4;
      stroke-linecap: round;
    }

    .logo-flash {
      stroke: #fff;
      stroke-width: 4;
      stroke-linecap: round;
    }

    .logo-text-lines {
      will-change: opacity;
      transition-delay: .4s;
      transition: opacity .8s ease-out;
      opacity: 0;
    }

    .logo-text {
      will-change: transform;
      transform: scale(0.6) translate(10em, -13.7em);
    }

    .logo-lightpost-small {
      will-change: transform, opacity;
      transition: opacity .8s ease-out, transform .4s ease-out;
      transform: scale(0.75) translate(-4em, .5em);
    }

    .logo-showerhead {
      will-change: transform;
      transform: scale(0.75) translate(-4em, .5em);
    }

    @media (min-width: $break-large) {
      height: 290px;

      .logo-text-lines { opacity: 1; }
      .logo-lightpost-small { opacity: 0; }

      .logo-text,
      .logo-lightpost-small,
      .logo-showerhead {
        transform: none;
      }
    }
  }

  &.compact {

    .lamp-post-logo { height: 46px; }
    .logo-text { transform: scale(0.6) translate(10em, -13.7em); }
    .logo-text-lines { opacity: 0; }
    .logo-showerhead { transform: scale(0.75) translate(-4em, .5em);}

    .logo-lightpost-small {
      transform: scale(0.75) translate(-4em, .5em);
      opacity: 1;
    }
  }
}
