.side-bar {

  & * { box-sizing: border-box; }

  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 25em;
  height: 100%;
  padding: $padding * 4;
  overflow-y: scroll;
  background: #333;
}
