.side-bar {

  & * { box-sizing: border-box; }

  box-sizing: border-box;
  position: relative;
  height: auto;
  background: #333;
  border-top: 4px solid $highlight;
  overflow: visible;
  transition: transform .4s ease-out;
  z-index: 1;

  @media (min-width: $break-large) {
    position: fixed;
    width: $sidebar-width;
    height: 100%;
    overflow-y: scroll;
  }

  @media (min-width: $break-extra-large) { width: 25%; }

  &.fixed-top { margin-bottom: $toggle-filters-button-height; }
}
