<article class="event-card empty">
  <section class="empty-card">
    <p class="empty-card-title">
      There are currently no events.
    </p>
    <div class="empty-button">
      <a href="/submit">But there could be!</a>
    </div>
  </section>
</article>
