<% @events.each do |event| %>
  <article class="event-card">
    <section class="left">
      <h3 class="event-title"><%= event.name %></h3>
    </section>
  </article>
<% end %>

<article class="event-card empty">
  <section class="empty-card">
    <p>
      There are no more events.
    </p>
    <div class="empty-button">
      <a href="#">But there could be!</a>
    </div>
  </section>
</article>
