<div class="side-bar">
  <%= render 'layouts/header' %>
  <nav class="event-filters">
    <%= render 'filters' %>
  </nav>
</div>
<div role="main" class="main">
  <%= render partial: 'event_list' %>
</div>
<%= render 'layouts/footer' %>
