<div class="page-wrapper content">
  <div class="side-bar">
    <%= render 'layouts/header' %>
    <div class="event-filters">
      <%= render 'filters' %>
    </div>
  </div>

  <main class="main">
    <%= render partial: 'event_list' %>
  </main>
</div>
