<div class="side-bar">
  <%= render 'layouts/header' %>
  <div class="event-filters">
    <div class="event-filters__heading">Filter events by:</div>
    <%= render 'filters' %>
  </div>
</div>

<main class="main">
  <%= render partial: 'event_list', collection: @events %>
</div>
