<div class="page-wrapper">
  <div class="side-bar">
    <%= render 'layouts/header' %>
    <nav class="event-filters">
      <%= render 'filters' %>
    </nav>
  </div>
  <main role="main" class="main">
    <%= render partial: 'event_list' %>
  </main>
  <footer role="contentinfo" class="copyright-section">&copy; <%= Time.now.year %> Sparkbox. All rights reserved.</footer>
</div>
