<div class="full-width single-card">
  <%= render partial: 'event_card', locals: { event: @event } %>
  <footer role="contentinfo" class="copyright-section">&copy; <%= Time.now.year %> Sparkbox. All rights reserved.</footer>
</div>
