<div class="page-wrapper content single-card">
  <%= render partial: 'event_card', locals: { event: @event } %>
</div>

<footer class="copyright-section">&copy; <%= Time.now.year %> Sparkbox. All rights reserved.</footer>
