<article class="page-wrapper content single-card about-page">
  <section class="about-header">
    <h1 class="about-title">About<h1>
    <a href="/" class="about-button">Home</a>

  </section>

  <section class="about-content">
    <h1>About Lamp Post</h1>
    <h2>It Began Over Coffee, As Most Good Ideas Do.</h2>
      <p>The idea began in a coffee shop—a bit cliché, but nevertheless true.
        A nearby patron somewhat frustratingly mentioned that “there are no tech
        meetups in Dayton.” This comment was shocking because Dayton actually
        teeters more on being a hub of tech meetups rather than a city void of them.</p>

      <p>We took this as an opportunity to build something that would simply
        show all of the tech gatherings in Dayton, regular meetups or one-time events.
        Free, topical, collaborative, and local—this is Lamp Post.</p>

      <p>And what’s in the name? Lamp posts used to be prime real estate for sharing
        city happenings and local gatherings. They would be wrapped with posters,
        one stacked on top of another, sharing events that shouldn’t be missed. This
        is a call back to those grassroots.</p>

    <h2>Make It Yours</h2>
      <p>Built on the idea that it could be easily replicated, we invite anyone
        to fork the Lamp Post repo to create a site for your own city. We care about
        the ability to share this with others in an effort to make tech more
        accessible to the public—not just the Dayton public but
        anywhere-in-the-country public.</p>

    <h2>We Made This</h2>

    <h3>Bennett</h3>
    <p>My first taste of web development came from a friend who showed me a bunch of
      cool projects that he was working on. It didn’t take long before I was hooked.
      After graduating college, completing more than a handful of tutorials, and
      reading some books, I decided to attend The Iron Yard to see if web development
      was really for me. Fast-forward to October 2015: I reached out to a (now) past
      apprentice at Sparkbox to inquire about the apprenticeship, thinking this
      could be the next best chapter of my development pursuits, which it’s
      proven to be. Offline, I enjoy working out, reading non-fiction and
      self-help books, tinkering with personal projects, spending time with
      friends, meeting new people, and traveling.</p>

    <h3>Catherine</h3>
    <p>I stumbled into HTML during high school, when you were only as
      cool as your MySpace profile. I took some classes at Miami University, while
      working toward my B.S.A. (in Art Education - but a year of teaching public
      school was enough for me). Girl Develop It (GDI), a non-profit focused on
      creating safe spaces for women to learn to code, became the true gateway
      for my future as a full time developer. After over two years of volunteering
      with GDI - eventually teaching my own HTML/CSS courses - I applied for the
      Apprenticeship at Sparkbox, was accepted, and eventually hired. My other
      hobbies include reading, video games, tabletop games, oil painting,
      and boffer sports.</p>

    <h3>Nate</h3>
    <p>I got into web development during my band days when we needed to build
      websites to market our shows. Tinkering with those projects led to building
      small websites for my family and friends. My web curiosity was put on hold,
      though, when I became a chef, having long been passionate about the food
      industry. After years of being in the kitchen, my curiosity for the web
      industry resurfaced. I began pursuing full-time opportunities to learn more
      about the web world and found Sparkbox’s apprenticeship. When I’m not at
      Sparkbox learning from the best, I’m either coding or spending time
      with my family.</p>

    <h3>Brittany</h3>
    <p>I became a developer because my sister told me to “go into computers.”
      Luckily, it was a move that I’m glad I made. Creating new things and fixing
      issues is beyond satisfying for me. I’m a .Net application developer, who
      umped on this opportunity to learn the tricks of the trade from a true web
      house, as an Apprentice at Sparkbox. I carry the passion for making and
      exploring new things into my personal life, as an artist and co-founder of
      Trail Seek, a social media based community geared around nature enthusiast
      and adventurers.</p>
    </section>

</article>


<footer class="copyright-section">&copy; <%= Time.now.year %> Sparkbox. All rights reserved.</footer>
