// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// FONT
@font-face {
    font-family: Gotham-Book;
    src: url(../fonts/Gotham-Book.otf);
}

@font-face {
    font-family: Gotham-Light;
    src: url(../fonts/Gotham-Light.ttf);
}

@font-face {
    font-family: Gotham-Medium;
    src: url(../fonts/Gotham-Medium.otf);
}

// VARIABLES

$light: #ffffff;
$dark-gray: #292929;
$mid-gray: #4A4A4A;
$light-gray: #9B9B9B;
$highlight: #F9ED00;
$border-opacity: rgba(155, 155, 155, .3);

$padding: .5em;
$margin: .5em;
$card-margin: 2em;

$font-body: "Gotham-Light", Helvetica, Arial, sans-serif;
$font-head: "Gotham-Medium", Helvetica, Arial, sans-serif;
$font-display: "Gotham-Book", Helvetica, Arial, sans-serif;

body {
  background-color: $dark-gray;
  color: $light;
  font-family: $font-body;
}

.event-card {
  background-color: $light;
  min-height: 20em;
  margin: $card-margin;
  padding: $padding;

  .left {
    min-height: calc(20em - (2 * #{$padding}));
    width: 35%;
    border-right: 2px solid $border-opacity;
  }

  .event-title {
    color: $mid-gray;
    margin: $margin;
    padding: 0;
    font-size: 2.5em;
    font-family: $font-head;

  }

}
