<header role="banner" class="site-header">
  <h1 class="site-logo">
    <a href="/" tabindex="0" role="link">
      <span class="logo-header">Lamp Post</span>
      <div class="logo-component logo-text">
        <svg class="lamp-post-logo" viewBox="0 0 344 297" preserveAspectRatio="xMinYMin slice" xmlns="http://www.w3.org/2000/svg">
          <path class="logo-path logo-m" d="M2.16 273.825v-50.897c0-1.42 1.15-2.572 2.568-2.572h.395c1.418 0 2.57 1.152 2.57 2.572v45.752c0 1.42 1.15 2.573 2.568 2.573h10.83c1.42 0 2.57 1.15 2.57 2.572 0 1.42-1.15 2.572-2.57 2.572H4.73c-1.42 0-2.57-1.15-2.57-2.572"/>
          <path class="logo-path logo-a" d="M48.977 227.467c-.125-.536-.886-.542-1.02-.007l-7.122 28.744c-.212.893.465 1.75 1.38 1.75h12.068c.914 0 1.59-.852 1.383-1.744l-6.69-28.743zm10.78 46.85l-2.61-10.75c-.167-.693-.786-1.18-1.497-1.18H40.826c-.704 0-1.32.48-1.492 1.163l-2.74 10.795c-.308 1.207-1.394 2.053-2.638 2.053-1.774 0-3.073-1.674-2.635-3.395l12.446-49.015c.542-2.137 2.463-3.632 4.664-3.632 2.213 0 4.14 1.51 4.672 3.662L65.2 273.02c.423 1.718-.875 3.378-2.642 3.378H62.4c-1.255 0-2.347-.86-2.644-2.08z"/>
          <path class="logo-path logo-m" d="M115.15 276.398c-1.44 0-2.607-1.17-2.607-2.612v-44.03c0-.333-.47-.4-.562-.08l-12.7 44.254c-.412 1.46-1.742 2.468-3.257 2.468-1.517 0-2.85-1.01-3.26-2.474L80.14 229.688c-.09-.32-.562-.254-.562.08v44.018c0 1.442-1.168 2.612-2.608 2.612-1.44 0-2.61-1.17-2.61-2.612v-49.008c0-2.443 1.978-4.422 4.417-4.422 2.25 0 4.227 1.498 4.84 3.667l12.325 43.668h.316l12.174-43.652c.608-2.176 2.588-3.682 4.845-3.682h.305c2.438 0 4.416 1.98 4.416 4.422v49.008c0 1.442-1.168 2.612-2.61 2.612h-.237z"/>
          <path class="logo-path logo-p1" d="M151.114 235.595c0-1.84-.237-3.43-.71-4.772-.476-1.34-1.135-2.432-1.977-3.272-.844-.84-1.806-1.46-2.886-1.854-1.08-.393-2.252-.59-3.517-.59h-6.39c-.574 0-1.04.466-1.04 1.042v19.445c0 .576.466 1.043 1.04 1.043h6.47c2.476 0 4.597-.907 6.363-2.722 1.765-1.812 2.648-4.587 2.648-8.32m5.455-.04c0 2.586-.384 4.868-1.147 6.847-.765 1.98-1.78 3.63-3.044 4.948-1.728 1.8-3.823 3.013-6.287 3.63-1.175.296-2.39.407-3.602.407h-6.82c-.595 0-1.078.483-1.078 1.08v21.202c0 1.508-1.22 2.73-2.727 2.73-1.506 0-2.727-1.222-2.727-2.73v-50.58c0-1.508 1.22-2.73 2.727-2.73h10.474c1.632 0 3.292.236 4.98.712 1.686.474 3.213 1.304 4.585 2.492 1.37 1.187 2.49 2.758 3.36 4.71.87 1.953 1.304 4.38 1.304 7.282"/>
          <path class="logo-path logo-p2" d="M219.226 235.595c0-1.84-.237-3.43-.712-4.772-.474-1.34-1.134-2.432-1.976-3.272-.843-.84-1.806-1.46-2.885-1.854-1.082-.393-2.254-.59-3.52-.59h-6.273c-.638 0-1.156.518-1.156 1.157v19.215c0 .64.518 1.158 1.156 1.158h6.354c2.476 0 4.597-.907 6.364-2.722 1.764-1.812 2.648-4.587 2.648-8.32m5.454-.04c0 2.586-.382 4.868-1.146 6.847-.764 1.98-1.78 3.63-3.043 4.948-1.726 1.8-3.82 3.013-6.285 3.63-1.176.296-2.392.407-3.604.407h-6.818c-.595 0-1.078.483-1.078 1.08v21.202c0 1.508-1.22 2.73-2.727 2.73s-2.727-1.222-2.727-2.73v-50.58c0-1.508 1.22-2.73 2.727-2.73h10.474c1.634 0 3.294.236 4.98.712 1.688.474 3.215 1.304 4.586 2.492 1.37 1.187 2.49 2.758 3.36 4.71.87 1.953 1.304 4.38 1.304 7.282"/>
          <path class="logo-path logo-o" d="M264.598 248.297c0-3.376-.264-6.542-.79-9.498-.528-2.956-1.332-5.514-2.412-7.68-1.08-2.163-2.41-3.877-3.992-5.144-1.58-1.266-3.4-1.9-5.454-1.9-2.162 0-4.046.634-5.653 1.9-1.608 1.267-2.938 2.98-3.99 5.145-1.056 2.166-1.847 4.724-2.373 7.68-.528 2.955-.79 6.12-.79 9.497 0 3.378.262 6.544.79 9.5.526 2.955 1.317 5.54 2.372 7.756 1.053 2.217 2.383 3.958 3.99 5.224 1.608 1.267 3.492 1.9 5.654 1.9 2.107 0 3.952-.633 5.533-1.9 1.58-1.266 2.898-3.007 3.953-5.224 1.054-2.216 1.844-4.8 2.37-7.757.528-2.955.792-6.12.792-9.5m5.77 0c0 4.383-.422 8.38-1.264 11.993-.844 3.615-2.055 6.716-3.636 9.3-1.582 2.586-3.506 4.59-5.77 6.016-2.267 1.425-4.85 2.138-7.748 2.138-2.9 0-5.494-.713-7.787-2.138-2.293-1.425-4.243-3.43-5.85-6.016-1.608-2.584-2.834-5.685-3.676-9.3-.843-3.614-1.264-7.61-1.264-11.993 0-4.325.407-8.297 1.225-11.912.816-3.614 2.015-6.7 3.596-9.262 1.58-2.558 3.518-4.55 5.81-5.975 2.293-1.425 4.942-2.138 7.946-2.138 2.898 0 5.48.713 7.747 2.138 2.265 1.425 4.19 3.417 5.77 5.975 1.582 2.56 2.793 5.648 3.637 9.262.842 3.615 1.265 7.587 1.265 11.912"/>
          <path class="logo-path logo-s" d="M306.445 262.07c0 2.482-.37 4.684-1.107 6.61-.74 1.928-1.752 3.562-3.043 4.907-1.292 1.346-2.806 2.376-4.545 3.088-1.74.712-3.585 1.068-5.534 1.068-2.846 0-5.468-.608-7.866-1.82-1.505-.762-2.827-1.678-3.967-2.75-1.132-1.063-1.16-2.86-.135-4.028l.098-.11c.805-.92 2.2-.92 3.06-.056.913.914 1.952 1.672 3.118 2.272 1.844.95 3.716 1.425 5.612 1.425 2.53 0 4.65-.896 6.364-2.69 1.713-1.794 2.57-4.354 2.57-7.68 0-1.583-.265-2.98-.79-4.194-.528-1.213-1.24-2.296-2.135-3.246-.897-.95-1.91-1.793-3.044-2.533-1.133-.737-2.33-1.425-3.596-2.058-1.53-.737-2.978-1.57-4.348-2.493-1.37-.922-2.57-1.99-3.597-3.206-1.028-1.213-1.858-2.65-2.49-4.313-.633-1.663-.95-3.602-.95-5.818 0-2.585.396-4.84 1.186-6.768.79-1.926 1.858-3.535 3.202-4.828 1.344-1.293 2.858-2.256 4.546-2.89 1.685-.633 3.45-.95 5.296-.95 2.53 0 4.808.435 6.838 1.307 1.12.48 2.137 1.108 3.056 1.886 1.252 1.06 1.376 2.95.295 4.184l-.07.078c-.796.91-2.165.913-3.04.08-.692-.662-1.445-1.18-2.258-1.558-1.422-.66-2.977-.99-4.664-.99-1.106 0-2.2.198-3.28.594-1.08.397-2.043 1.017-2.886 1.86-.843.846-1.53 1.927-2.055 3.247-.528 1.32-.79 2.876-.79 4.67 0 1.582.236 2.955.71 4.116.476 1.16 1.12 2.19 1.937 3.086.818.898 1.766 1.69 2.846 2.374 1.08.686 2.2 1.32 3.36 1.9 1.475.74 2.937 1.583 4.388 2.533 1.45.95 2.753 2.058 3.913 3.324 1.16 1.268 2.082 2.746 2.767 4.434.685 1.69 1.028 3.67 1.028 5.937"/>
          <path class="logo-path logo-t" d="M331.74 226.128v47.54c0 1.507-1.22 2.73-2.727 2.73-1.506 0-2.727-1.223-2.727-2.73v-47.54c0-.565-.458-1.022-1.022-1.022h-7.357c-1.31 0-2.372-1.063-2.372-2.375 0-1.31 1.062-2.374 2.372-2.374H340.2c1.31 0 2.37 1.063 2.37 2.375 0 1.313-1.06 2.376-2.37 2.376h-7.438c-.564 0-1.02.457-1.02 1.022"/>
          <circle class="logo-path logo-dot" cx="173.5" cy="248.5" r="6"/>
          <image src="/images/lp-logo-condensed.png" xlink:href="" class="fallback-logo">
        </svg>
      </div>
      <div class="logo-component logo-text-lines">
        <svg class="lamp-post-logo" viewBox="0 0 344 297" preserveAspectRatio="xMinYMin slice" xmlns="http://www.w3.org/2000/svg">
          <path class="logo-path logo-lightpost-full" d="M207.69 199.217H136.81c-1.048-.004-1.894-.856-1.893-1.905.002-1.05.85-1.898 1.9-1.898 19.298 0 35-15.72 35-35.046V28.308c-.087-1.456-1.782-23.746-23.637-23.746-1.048 0-1.898-.85-1.898-1.9 0-1.05.85-1.902 1.898-1.902 13.47 0 20.234 7.513 23.538 13.814 3.507 6.69 3.878 13.306 3.893 13.583l.003.097v132.114c0 15.425-9.026 28.78-22.066 35.047h54.144c1.05 0 1.9.85 1.9 1.9 0 1.05-.85 1.902-1.9 1.902"/>
          <path class="logo-line logo-left-line" d="M2 197h120"/>
          <path class="logo-line logo-right-line" d="M223 197h119"/>
          <path class="logo-line logo-bottom-line" d="M2 295h340"/>
        </svg>
      </div>
      <div class="logo-component logo-lightpost-small">
        <svg class="lamp-post-logo" viewBox="0 0 344 297" preserveAspectRatio="xMinYMin slice" xmlns="http://www.w3.org/2000/svg">
          <path class="logo-path" d="M176.135 33.26c-1.12 0-2.055-.886-2.112-2.026-.058-1.086-1.7-26.697-26.353-26.697-1.17 0-2.117-.955-2.117-2.133 0-1.18.948-2.134 2.117-2.134 28.702 0 30.564 30.44 30.58 30.75.06 1.175-.838 2.177-2.006 2.237-.036.002-.074.003-.11.003"/>
        </svg>
      </div>
      <div class="logo-component logo-showerhead">
        <svg class="lamp-post-logo" viewBox="0 0 344 297" preserveAspectRatio="xMinYMin slice" xmlns="http://www.w3.org/2000/svg">
          <path class="logo-path logo-lightbulb" d="M127.574 11.67c-2.374-1.28-3.527-3.9-2.867-6.52.66-2.625 2.92-4.39 5.622-4.39h10.054c1.05 0 1.9.85 1.9 1.9 0 1.05-.85 1.902-1.9 1.902H130.33c-1.15 0-1.757.784-1.94 1.517-.09.352-.282 1.56.984 2.243 1.193.642 2.684.968 4.432.968 4.123 0 6.006-1.062 6.86-1.956.726-.758 1.927-.783 2.684-.057.757.726.784 1.93.06 2.687-1.988 2.076-5.218 3.13-9.604 3.13-2.383 0-4.48-.48-6.232-1.424z"/>
          <path class="logo-flash logo-flash-1" d="M125 15.5l-7 7M134.5 19v10M143.5 15.5l7 7"/>
        </svg>
      </div>
    </a>
  </h1>
  <h2 class="site-city">
    <%= ENV["CITY"] %>
  </h2>
  <div class="site-about">
    <p class="site-about__text">
      Free, topical, collaborative, and local, Lamp Post is Dayton's list of tech events.
    </p>
    <a class="site-about__link" href="about">About</a>
    <a class="site-about__link" href="mailto:<%= ENV["ADMIN_EMAIL"] %>?Subject=Hey%20Lamp%20Post%2C%20please%20add%20my%20event&Body=%28Sharing%20a%20few%20details%20will%20help%20us%20determine%20if%20we%20can%20add%20your%20event%20to%20Lamp%20Post%29%3A%0A%0A%0A%0AHere%27s%20a%20little%20about%20my%20event%20%28name%2C%20description%29%3A%0A%0A%0A%0AHere%27s%20a%20little%20about%20the%20location%20of%20my%20event%20%28location%20name%2C%20street%20address%2C%20city%2C%20state%2C%20zip%20code%29%3A%0A%0A%0A%0AHere%27s%20how%20often%20my%20event%20will%20be%20held%20%28e.g.%2C%20every%20third%20Thursday%20of%20the%20month%29%0A%0A%0A%0ALet%20us%20add%20your%20event%21%0A%0A%0A%0ASincerely%2C">Submit</a>
  </div>

</header>
