<!DOCTYPE html>
<html>
<head>
  <title>LampPost</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/655912/7659752/css/fonts.css" />
</head>

<body>

<%= yield %>

</body>
</html>
